@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Plex-Sans";
    src: url("./fonts/IBM-Plex-Sans/IBMPlexSans-Text.ttf");
  }
  @font-face {
    font-family: "Plex-Mono";
    src: url("./fonts/IBM-Plex-Mono/IBMPlexMono-Text.ttf");
  }
}

@layer components {
  .navbar-link {
    @apply inline-block w-full font-semibold text-accent-blue hover:text-sky-500;
  }
  .string-input {
    @apply h-full w-full resize-none rounded-b-lg border-[1px] border-solid border-accent-blue bg-background-blue p-2 transition-colors focus:border-sky-500 focus:shadow-inner focus:outline-none;
  }
  .property-input {
    @apply w-full resize-y rounded-lg border-b-[1px] border-solid border-accent-blue bg-background-white p-6 mt-4 shadow-inner focus:border-b-2 focus:bg-background-white focus:shadow-md focus:outline-none;
  }
  .property-label{
    @apply text-gray-500 pb-4
  }
}